body {
    font-family: Arial, sans-serif;
    margin: 20px;
}


.controls {
    margin-bottom: 20px;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: green;
}


.board {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
    background-color:yellow;
    padding: 10px;
    min-height: 400px;
    border-radius: 5px;
}

h3 {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}


.task-card {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: grab;
}


.completed-task {
    background-color: #d4edda;
    text-decoration: line-through;
}